<app-user-nav></app-user-nav>

<div class="header">
  <h1>Menu</h1>
</div>
<ul>
  <section class="cards">
    <div class="crd" *ngFor="let item of fooditems; index as i">
      <div class="wrapper">
        <div class="containerr">
          <div class="top"><img src="../../../assets/foodImages/{{item.foodimage}}" alt="No image found"></div>
          <div class="bottom">
            <div class="left">
              <div class="details">
                <h3>{{item.foodname}}</h3>
                <p>{{item.foodprice}}DT</p>
              </div>
              <div *ngIf="item.foodavail">
                <div style="margin-top:30%">
                  <i class="material-icons" (click)="addtocart(item)">add_shopping_cart</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inside">
          <div class="icon"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
          <div class="contents">
            <div style="margin-top:3%"></div>
            <h4>Item name - {{item.foodname}}</h4>
            <h4>Item price - {{item.foodprice}}DT</h4>
            <h4 *ngIf="!item.unlimited">
              <ng-container *ngIf="item.foodavail; else elseBlock">
                Available Quantity - {{item.foodqty}}
              </ng-container>
              <ng-template #elseBlock>
                <div>this item is not available</div>
              </ng-template>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</ul>
<footer class="footer">
  <section class="grid">
    <div class="box">
      <div class="card">
        <img src="assets/img/email-icon.png" alt="" class="card-image">
        <h4>our email</h4>
        <a href="mailto:eya.bahri@esprit.tn">eya.bahri@esprit.tn</a>
      </div>
    </div>
    <div class="box">
      <div class="card">
        <img src="assets/img/clock-icon.png" alt="" class="card-image">
        <h4>opening hours</h4>
        <p>00:07am to 00:10pm</p>
      </div>
    </div>
    <div class="box">
      <div class="card">
        <img src="assets/img/map-icon.png" alt="" class="card-image">
        <h4>our address</h4>
        <a href="#">Tunis, Tunisia - 2000</a>
      </div>
    </div>
    <div class="box">
      <div class="card">
        <img src="assets/img/phone-icon.png" alt="" class="card-image">
        <h4>our number</h4>
        <a href="tel:1234567890">+216 71-456-200</a>
      </div>
    </div>
  </section>
</footer>
